
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');



body {
    background-color: #2596be;
    padding: 10px;

}

.img1 {
    height: 400px;
    width: 450px;
    shape-margin: 90px;
    text-align: center;
    opacity: 50;
    padding: 30px;
    border-radius: 100px;

}

.img2 {
    height: 150px;
    width: 250px;
    shape-margin: 90px;
    text-align: center;
    opacity: 50;
    padding: 30px;
    border-radius: 10px;

}

header,
.a2,
footer {
    background-color: brown;
    height: 100px;
    width: 1520px;
    text-align: center;
    color: burlywood;
    font-family: "Playwrite DE Grund", cursive;


}

a:hover {
    color: whitesmoke;
    box-shadow: 40px;
}



.text {
    font-size: 50;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f3f6f4;
    padding-top: 10px;
    border: 80px;
    border-radius: 100px;


}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e28743;
    border-radius: 50px;
}

p,
code,
pre {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    color: black;
}

.a1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
display: inline-grid;
grid-auto-flow: row;
grid-gap: 24px;
justify-items: center;
margin: auto;
}
